header {
  display: grid;
  /*grid-template-columns: repeat(6, 1fr);*/
  grid-gap: 15px;
  align-items: flex-end;
  border-bottom: 1rem solid darkgrey;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 5rem;
  color: rgb(28, 122, 131);
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: underline;
  color: orange;
  font-size: 20px;
}
